:root {
  --color-blue-primary: #FFBF00;
  --color-white: #f3f3f3;
  --color-dark: #212529;
  --color-orange-darker: #E93E21;
  --color-main-dark: #232528;
  --color-main-purple:#ab308a;
}
*{
  padding: 0;
  margin: 0;
}
body {
  /*To override bootstrap font*/
  font-family: 'Oswald', sans-serif !important;
  background-color: var(--color-white) !important;
  color: var(--color-main-dark) !important;
  height: 100%;
}
.text-title {
  font-family: 'Lobster', cursive;
  padding: 50px;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: var(--color-orange-darker);
}
.text-green-primary{
  color :var(--color-green-primary);
}
.text-green-dark{
  color:var(--color-green-darker);
}
.active{
  border-bottom: 1px solid var(--color-orange-darker);
}
.background-dark{
  background-color: var(--color-dark) !important;
}
.background-yellow{
  background-color: var(--color-blue-primary) !important;
  height: 100%;
}

.img-container{
  position: relative;
  overflow: hidden;
}

